<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="text-center">
                    <h1 class="mb-3 cfont" >Login</h1>
                    <div class="mb-3 mt-3 cfont error" #err_msg  ></div>
                </div>
                <form #login = "ngForm" method = "post" (ngSubmit) = "loginData(login.value)">
                    
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label cfont">Email address</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #email="ngModel" ngModel email required>
                      <small class="form-text text-muted cfont" *ngIf="email.touched && !email.valid" >Email is required</small>
                    </div>

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label cfont">Password</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1"  #password="ngModel" ngModel required>
                      <small class="form-text text-muted cfont" *ngIf="password.touched && !password.valid" >Password is required</small>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                      <button class="btn btn-danger cfont" type="submit" [disabled]="!login.valid">Login</button>
                    </div>

                  </form>
                  <div class="mb-1 mt-3 link">
                    <a class="cfont" routerLink="/signup">Create Account</a>
                  </div>
            </div>
        </div>
    </div>
</div>