<div class="container">
    <div class="card">
        <ul>
            <li class="cfont" ><span class="hfont" >First Name : </span>{{info.fname}}</li>
            <li class="cfont" ><span class="hfont" >Last Name : </span>{{info.lname}}</li>
            <li class="cfont" ><span class="hfont" >Phone No : </span>{{info.pno}}</li>
            <li class="cfont" ><span class="hfont" >Email : </span>{{info.email}}</li>
        </ul>
        <div class="mb-1 mt-3 link" >
            <a class="cfont"  routerLink="/details">Back to details</a>
          </div>
    </div>
</div>